<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skeets</title>
</head>

<body>
    <audio id="audio">
        <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script>
        var element = document.getElementById("audio");
        var socket = io('chillypunch.com:7587', {
            'reconnection': true,
            'reconnectionDelay': 1000,
            'reconnectionDelayMax' : 5000,
            'reconnectionAttempts': 100
        });

        socket.on('connect', () => {
            socket.emit('auth', '<%= id %>');
        });

        socket.on('resume', () => {
            element.play();
        });

        socket.on('pause', () => {
            element.pause();
        });

        socket.on('stop', () => {
            element.pause();
            element.src = '';
        });

        socket.on('playurl', (url) => {
            element.src = url;
            element.play();
        });

        element.onended = () => {
            socket.emit('end');
        };
    </script>
</body>